doctype html
html(lang="en")
  head
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(href="/main.bundle.css", rel="stylesheet")
  body
    block content
    script(type="text/javascript", src="/build.js")