<template>
  <MainLayout>
    <div class="block-white">
      <div class="container py-4">
        <div class="row">
          <div class="col-12 pb-5">
            <p class="display-4">Sorry, page not found</p>
          </div>
        </div>
      </div>
    </div>
  </MainLayout>
</template>

<script>
  import MainLayout from '../layouts/mainlayout.vue';
  export default {
    components: {
      MainLayout,
    },
  };
</script>
