<template>
  <MainLayout>
    <div class="block-white">
      <div class="container py-4">
        <div class="row">
          <div class="col-12 pb-5">
            <p class="display-4">Please select shop</p>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div
              v-for="shop in shops"
              :key="shop.id"
              class="col-3 p-0 float-left">
              <p>
                <router-link :to="{path: '/'+shop.name}">
                  <b>{{ shop.displayName }}</b>
                </router-link>
              </p>
              <button class="btn btn-primary" @click="updatePrice(shop.name)">Update Price</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </MainLayout>
</template>
<script>
import {mapGetters} from 'vuex';
import MainLayout from '../layouts/mainlayout.vue';
export default {
  components: {
    MainLayout,
  },
  computed: {
    ...mapGetters(['shops']),
  },
  created() {
    this.$store.dispatch('getListOfShops');
  },
  methods: {
    updatePrice(shopName) {
      this.$store.dispatch('updatePriceOfShop', {
        shopName: shopName,
      });
    },
  },
};
</script>
