<template>
  <MainLayout>
    <div class="block-white">
      <div class="container py-4">
        <div class="row">
          <div class="col-12 pb-5">
            <p class="display-4">{{ currentShop.displayName }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-12 pb-5">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Product ID</span>
              </div>
              <input type="text" class="form-control" v-model="searchProductID">
            </div>
            <input class="btn btn-primary" type="button" value="Search" @click="searchProduct()">
          </div>
          <div class="col-12">
            <template v-if="price.length>0">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Product</th>
                    <th scope="col">Article</th>
                    <th scope="col">Price</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="pr in price" key="pr.productId">
                    <td scope="row">{{ pr.productId }}</td>
                    <td>{{ pr.name }}</td>
                    <td>{{ pr.reference }}</td>
                    <td>{{ pr.price }}</td>
                  </tr>
                </tbody>
              </table>
            </template>
            <template v-if="price.length==0">
              <p class="display-5 text-center">Not have a result.</p>
            </template>
          </div>
        </div>
      </div>
    </div>
  </MainLayout>
</template>
<script>
import {mapGetters} from 'vuex';
import MainLayout from '../layouts/mainlayout.vue';
export default {
  components: {
    MainLayout,
  },
  data() {
    return {
      searchProductID: '',
    };
  },
  props: ['shopName'],
  computed: {
    ...mapGetters(['currentShop', 'price']),
  },
  created() {
    this.$store.dispatch('getShop', {
      shopName: this.shopName,
    })
    .catch((err) => {
      this.$router.push('error');
    });
  },
  methods: {
    searchProduct() {
      this.$store.dispatch('getPriceOfProduct', {
        shopName: this.currentShop.name,
        productId: this.searchProductID,
      });
    },
  },
};
</script>
