//@import "../../../../bootstrap-4.0.0/scss/bootstrap";

body{
  background-color: #f7f7f7;
}

a:hover {
  text-decoration: none;
}

.site-header {
  .head-topline {
    background-color: rgba(255, 255, 255, 1);
    a {
      margin: 5px 0px 5px 5px;
      color:  rgba(103, 170, 223, 1);
      transition: ease-in-out color .15s;
    }
    a:hover {
      color:  rgba(50, 85, 111, 1);
      text-decoration: none;
    }
  }
  .head-bodyline{
    padding-bottom: 20px;
    background-color: rgba(255, 255, 255, 1);
    a {
      h4 {
        padding-bottom: 0px;
        margin-bottom: 0px;
        color: rgba(0, 0, 0, 1);
      }
      .text-red{
        margin-bottom: 0px;
        color: rgba(254, 64, 81, 1);
      }
    }
  }
  .head-link {
    line-height: 60px;
    background-color: rgba(103, 170, 223, 1);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    a {
      color: #fff;
      transition: ease-in-out color .15s;
    }
    a:hover {
      color: #fff;
      text-decoration: none;
    }
  }
}

footer {
  .footer-bootom{
    a{
      color: #fff;
      font-size: 10px
    }
  }
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.flex-equal > * {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
}
.overflow-hidden { overflow: hidden; }

ul.timeline {
  list-style: none;
  border-left: 1px solid #000;
  padding-left: 10px;
  display: inline-block;
  li{
    button, a{
      display: inline-block;
      text-align: left;
      border: none;
      background: none;
      small {
        
        line-height: 20px;
        display: block;
      } 
      img{
        margin-left: 50px;
      }
      &.new{
        margin-top: 20px;
      }
    }
  }
}

ul.content-items {
  list-style: none;
  display: inline-block;
  padding: 0px;
  width: 100%;
  li{
    display: inline-block;
    width: 50%;
    float: left;
    text-align: center;
    padding-bottom: 10px;
    button {
      text-align: left;
      border: none;
      background: none;
      img{
        width: 116px;
        height: 74px;
      }
    }
  }
}